* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: midnightblue;
}

#hone {
    color: midnightblue;
    font-size: 45px;
}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    background-color: grey;
    width: 100%;
    height: 20%;
}

.nav-link {
    text-decoration: none;
    color: white;
    border: 2px solid black;
    width: 120px;
    margin-left: 45.8%;
    /* margin-right: 46%; */
    text-align: center;
}

.bodybutton {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border: solid grey 2px;
    color: white;
}

.boxie {
    display: flex;
    /* justify-content: center; */
    text-align: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 400px;
    margin-left: 37%;
}

.featured {
    color: white;
    /* text-align: center; */
}

.featcar {
    width: 250px;
    /* text-align: center; */
}

.model {
    color: orange;
}

.featp {
    color: midnightblue;
}

.main {
    text-align: center;
}